/**
 * This is the primary style sheet for the 
 * 		edUI 2016 WordPress theme.
 * Any customizations that need to be made to this theme should
 * 		be made within this file.
 * @version 0.1.6
 */
body .site-inner, 
body .wrap {
	max-width: 100%;
}

.site-header .wrap, 
.site-inner .wrap .wrap, 
.edui-footer .wrap .wrap {
	max-width: 1200px;
}

.site-header a {
	border: none;
}

.site-header .widget {
	display: inline-block;
	vertical-align: middle;
	float: right;
}

.site-header .widget_sp_image .widget-title {
	display: none;
}

.site-header .genesis-nav-menu {
	padding-right: 20px;
	padding-right: 2rem;
	font-family: 'Raleway', sans-serif;
}

.site-header .genesis-nav-menu a {
	color: #fff;
	font-size: 20px;
	font-size: 2rem;
	line-height: normal;
	padding: 10px 6px;
	padding: 1rem .6rem;
	margin: 10px 6px;
	margin: 1rem .6rem;
	font-weight: 400;
	text-decoration: none;
	border-bottom: 6px solid #000;
}

.site-header .genesis-nav-menu a:hover, 
.site-header .genesis-nav-menu a:focus, 
.site-header .genesis-nav-menu .current-nav-item a {
	border-bottom: 6px solid #54d700;
	text-decoration: none;
}

.home .site-inner {
	padding-top: 0;
}

.front-feature .widget_sp_image .widget-title {
	display: none;
}

.front-feature .widget_sp_image {
	position: relative;
}

.front-feature .widget_sp_image img {
	display: block;
	margin: 0;
}

.home-main-feature, 
.post-main-feature {
	width: 100%;
	margin: 0;
	padding: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.post-main-feature {
	background-position: center top;
	margin-bottom: 50px;
}

.wrap .home-main-feature > .wrap {
	background: rgba( 0, 0, 0, .6 );
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
}

.home-feature-wrap, 
.post-feature-wrap {
	width: 100%;
	max-width: 1260px;
	margin: 0 auto;
	text-align: center;
	min-height: 400px;
	padding: 20px;
	position: relative;
}

.post-feature-wrap {
	background: none;
	margin-bottom: 0;
	min-height: 500px;
}

.home-feature-content, 
.post-feature-content {
	color: #fff;
	font-family: 'Tinos', serif;
	font-size: 27px;
	font-size: 2.7rem;
	text-align: justify;
	line-height: normal;
	width: 504px;
	max-width: 100%;
	display: inline-block;
	
	padding: 60px 0 10px 0;
	margin: 20px auto;
}

.post-feature-content {
	font-family: 'Raleway', sans-serif;
	background: #000;
	position: absolute; 
	bottom: -100px;
	right: 5%;
	padding: 20px;
	padding: 2rem;
	border: none;
	border-right: 16px solid #54d700;
	font-size: 65px;
	font-size: 6.5rem;
	font-weight: 300;
	text-align: left;
	width: 75%;
}

@media all and (min-width: 960px) {
	.home-feature-content {
		margin: 50px 30px 50px auto;
	}
	.home-feature-wrap {
		text-align: right;
		padding: 0;
	}
	.wrap .home-main-feature > .wrap {
		background: rgba( 0, 0, 0, .3 );
	}
}

/*.front-feature, */
.front-widgets {
	border-top: 35px solid #000;
}

.front-feature {
	background: #1c1c1c;
}

.home-main-feature h2, 
.home-main-feature h3, 
.home-main-feature h4, 
.home-main-feature h5 {
	font-family: 'Raleway', sans-serif;
	color: #fff;
	text-align: center;
}

.home-main-feature h2 {
	font-size: 72px;
	font-size: 7.2rem;
}

.home-main-feature h3 {
	font-size: 60px;
	font-family: 6rem;
}

.home-main-feature h4 {
	font-size: 48px;
	font-size: 4.8rem;
}

@media all and (min-width: 480px) {
	.home-main-feature h2 {
		font-size: 108px;
		font-size: 10.8rem;
	}
	
	.home-main-feature h3 {
		font-size: 75px;
		font-size: 7.5rem;
	}
	
	.home-main-feature h4 {
		font-size: 58px;
		font-size: 5.8rem;
	}
}

.front-widgets .wrap {
	padding: 40px;
	padding: 4rem;
}

.front-widgets .widget-title {
	font-size: 32px;
	font-size: 3.2rem;
	color: #000;
	font-weight: 700;
}

.edui-footer {
	font-family: 'Raleway', sans-serif;
	border-top: 20px solid #54d700;
	border-bottom: 20px solid #54d700;
	color: #fff;
	background: #000;
}

.edui-footer .full-footer {
	text-align: center;
	font-size: 48px;
	font-size: 4.8rem;
	color: #fff;
}

.edui-footer .full-footer, 
.edui-footer .bottom-footer-widgets {
	border-bottom: 20px solid #54d700;
	padding: 30px 0;
	margin: 0 auto;
}

.edui-footer a {
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid #54d700;
}

.edui-footer a:hover, 
.edui-footer a:focus {
	color: #54d700;
	text-decoration: none;
	border-bottom: 1px solid #e2e2e2;
}

.edui-footer .widget_nav_menu {
	font-size: 20px;
}

.edui-footer .widget_nav_menu .widget-title {
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	display: inline;
}

.edui-footer .widget_nav_menu .widget-wrap > div, 
.edui-footer .widget_nav_menu .menu, 
.edui-footer .widget_nav_menu .menu-item, 
.edui-footer .widget_nav_menu .menu-item a {
	display: inline;
}

.edui-footer .widget_nav_menu .menu-item a:after {
	content: ",";
}

.edui-footer .widget_nav_menu .menu-item a:before {
	content: " ";
}

.edui-footer .widget_nav_menu .menu-item:last-child a:after {
	content: "";
}

.footer-1-widget-area, 
.footer-2-widget-area {
	font-size: 34px;
	font-size: 3.4rem;
	text-align: justify;
	line-height: 1.2;
}

.footer-2-widget-area small {
	font-size: 28px;
	font-size: 2.8rem;
}

.featured-speakers figure, 
.home-featured-post figure {
	margin-top: 0;
	margin-right: 0;
}

.home-featured-post.right .one-half, 
.one-fourth.right, 
.two-fourths.right, 
.three-fourths.right, 
.one-half.right, 
.one-third.right, 
.two-thirds.right, 
.one-sixth.right, 
.two-sixths.right, 
.three-sixths.right, 
.four-sixths.right, 
.five-sixths.right {
	float: right;
}

.home-featured-post.right .one-half.first, 
.one-fourth.right.first, 
.two-fourths.right.first, 
.three-fourths.right.first, 
.one-half.right.first, 
.one-third.right.first, 
.two-thirds.right.first, 
.one-sixth.right.first, 
.two-sixths.right.first, 
.three-sixths.right.first, 
.four-sixths.right.first, 
.five-sixths.right.first {
	clear: none;
}

@media all and (min-width: 800px) {
	.featured-speaker.one-third {
		width: 25%;
		margin-left: 12.5%;
	}
	.featured-speaker.one-fourth {
		width: 20%;
		margin-left: 6.666666666666667%;
	}
}

.featured-speaker.first {
	margin-left: 0;
	clear: both;
}

.featured-speaker > a, 
.home-featured-post figure a, 
.front-widgets-3 .widget_sp_image .widget-wrap > a {
	display: block;
	border-right: 36px solid #54d700;
	border-bottom: none;
}

.featured-speaker img, 
.home-featured-post figure img, 
.front-widgets-3 .widget_sp_image img {
	width: 100%;
	height: auto;
	border: none;
	display: block;
	filter: gray; /* IE6-9 */
	filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

.featured-speaker a:hover img, 
.featured-speaker a:focus img, 
.home-featured-post figure a:hover img, 
.home-featured-post figure a:focus img, 
.front-widgets-3 .widget_sp_image a:hover img, 
.front-widgets-3 .widget_sp_image a:focus img {
	filter: none;
	-webkit-filter: none;
}

.featured-speaker figcaption {
	font-size: 35px;
	line-height: 1.2;
	font-family: 'Raleway', sans-serif;
	width: 50%;
	min-width: 90px;
	text-align: left;
}

.featured-speaker.one-fourth figcaption {
	width: 75%;
}

.featured-speaker figcaption a, 
.home-featured-post .entry-title a, 
.home-featured-post .more-link a {
	color: #333;
	text-decoration: none;
	border: none;
}

.featured-speaker figcaption a:hover, 
.featured-speaker figcaption a:focus, 
.home-featured-post .entry-title a:hover, 
.home-featured-post .entry-title a:focus, 
.home-featured-post .more-link a:hover, 
.home-featured-post .more-link a:focus {
	border-bottom: 2px solid #54d700;
}

.home-featured-post .entry-title {
	font-size: 28px;
	font-family: 'Tinos', serif;
	line-height: 1.2;
	color: #333;
	font-weight: 700;
}

.home-featured-post .entry-date, 
.home-featured-post .more-link {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	margin-bottom: 0;
}

@media all and (max-width: 800px) {
	.home-featured-post .entry-excerpt {
		padding-bottom: 30px;
		padding-bottom: 3rem;
		border-bottom: 1px solid #e2e2e2;
		margin-bottom: 30px;
		margin-bottom: 3rem;
	}
}

.home-featured-post {
	font-size: 18px;
	color: #333;
}

.blog-featured-post {
	border-top: 2px solid #54d700;
	margin-top: 4rem;
	padding-top: 4rem;
}

.blog-featured-post:first-child {
	border-top: none;
	margin-top: 0;
}

.home-featured-post .more-link a {
	font-size: 22px;
	font-style: italic;
	font-weight: 100;
}

@media all and (min-width: 800px) {
	.front-widgets-3 .widget_sp_image .widget-wrap > a {
		width: 50%;
		margin-right: 5%;
		float: left;
		clear: both;
	}
	
	.front-widgets-3 .widget_sp_image .widget_sp_image-description {
		width: 45%;
		float: left;
	}
}

.front-widgets-4 {
	text-align: center;
	vertical-align: middle;
}

.front-widgets-4 .widget-title {
	text-align: left;
}

.front-widgets-4 .widget_sp_image .widget-title {
	display: none;
}

.front-widgets-4 .widget_sp_image {
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	margin: 2rem;
}

@media all and (max-width: 480px) {
	.title-area .site-title a {
		background-position: center center !important;
	}
	.site-header .widget {
		display: block;
		float: none;
		margin: 0 auto;
	}
	.site-header .widget-area {
		text-align: center;
	}
}

@media all and (max-width: 960px) {
	.site-inner, .wrap {
		padding-left: 0;
		padding-right: 0;
	}
	.edui-footer .wrap .wrap {
		padding-left: 5%;
		padding-right: 5%;
	}
}

.content-sidebar-wrap {
	max-width: 1260px;
	max-width: 126rem;
	margin: 0 auto;
}

.home .content-sidebar-wrap {
	max-width: 100%;
}

.first-paragraph::first-letter {
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}

.first-paragraph::before {
	content: attr(data-first-letter);
	font-size: 350%;
	color: #54d700;
	font-weight: 500;
	line-height: 1;
	float: left;
	margin-right: .5rem;
}

.pull-quote {
	width: 25%;
	min-width: 200px;
	float: right;
	clear: both;
	border-top: 8px solid #54d700;
	border-bottom: 8px solid #54d700;
	margin: 0 0 20px 20px;
	margin: 0 0 2rem 2rem;
	padding: 20px 0;
	font-size: 14px;
	font-size: 1.4rem;
}

/**
 * Styles for singular speakers and presentations
 */
figure.speaker-photo {
	margin: 0;
}

span.speaker-img {
	width: 100%;
	height: auto;
	display: block;
	margin: 0;
	padding: 0;
	border-right: 35px solid #54d700;
	margin-bottom: 20px;
	margin-bottom: 2rem;
}

@media all and (max-width: 800px) {
	span.speaker-img {
		max-width:300px;
	}
	div.presentation-speakers{
		padding:1rem 0 0 4rem;
	}
}
@media all and (max-width: 600px) {
	span.speaker-img {
		display:none;
	}
	figcaption.speaker-links {
		padding:0 0 0 .5em;
		margin: 0 0 .5em 0;
	}
}

.speaker-photo img {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	max-width: 100%;
	height: auto;
	filter: gray; /* IE6-9 */
	filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
	-webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

.speaker-photo a:hover img, 
.speaker-photo a:focus img {
	filter: none;
	-webkit-filter: none;
}

h1.speaker-name, 
h1.presentation-title, 
h2.speaker-name, 
h2.presentation-title {
	font-size: 72px;
	font-size: 7.2rem;
	font-weight: 300;
	line-height: 1.1;
	margin: 0;
}

h2.speaker-presentations, 
.presentation-speakers h2 {
	font-size: 36px;
	font-size: 3.6rem;
	color: #333;
	font-weight: 300;
}

.speaker-organization, 
.presentation-venue, 
.presentation-hashtag, 
.presentation-tags {
	font-family: 'Raleway', sans-serif;
	font-size: 32px;
	font-size: 3.2rem;
	color: #333;
	font-style: italic;
	line-height: 1.1;
	margin-bottom: .5rem;
}

.presentation-content {
	margin-top: 2rem;
}

.presentation-venue a {
	color: #333;
	text-decoration: none;
	border-bottom: 1px solid #54d700;
}

.presentation-venue a:hover, 
.presentation-venue a:focus {
	border: none;
}

.presentation-hashtag, 
.presentation-tags {
	margin-top: 1rem;
	font-size: 20px;
	font-size: 2rem;
}

ul.speaker-links, 
ul.speaker-links li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.speaker-links li, 
.speaker-links {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	font-size: 2.4rem;
	font-weight: 300;
	margin-bottom: 4rem;
}

.speaker-links a, 
.presentation-tags a {
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #54d700;
}

.speaker-links a:hover, 
.speaker-links a:focus, 
.presentation-tags a:hover, 
.presentation-tags a:focus {
	border: none;
}

.speaker-entry, 
.presentation-entry {
	padding: 0 40px;
	padding: 0 4rem;
}

ul.speaker-presentation-list, 
ul.speaker-presentation-list li {
	list-style: none;
}

.speaker-presentation-list li {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	font-size: 2.4rem;
	color: #333;
}

.speaker-presentation-list li a {
	color: #333;
	text-decoration: none;
	border-bottom: 1px solid #54d700;
}

.speaker-presentation-list li a:hover, 
.speaker-presentation-list li a:focus {
	border: none;
}

.full-speaker-list .speaker-list-item, 
.full-presentations-list .presentation-list-item {
	padding-top: 40px;
	padding-top: 4rem;
	margin-top: 40px;
	margin-top: 4rem;
	border-top: 2px solid #54d700;
}

.presentation-entry ul > li {
	list-style: disc;
}

.full-speaker-list .speaker-list-item:first-child, 
.full-presentations-list .presentation-list-item:first-child {
	padding: 0;
	margin: 0;
	border: none;
}

.gallery-item a {
	border: none;
}

@media all and (max-width: 400px) {
	.home-main-feature h4 {
		font-size: 3.6rem;
		font-size: 36px;
	}
}

@media all and (max-width: 600px) {
	.home-feature-content {
		border-bottom: 8px solid #54d700;
		background: url('images/caption-header-line.png') no-repeat center top;
	}
}

@media all and (max-width: 1240px) {
	.site-header > .wrap {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@media all and (max-width: 800px) {
	.entry {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

/** Front Page Animations by John Rhea */
@media all and (min-width: 600px) {
	.home-main-feature h2 {
		line-height: 1;
		margin: 0;
	} 
	.home-main-feature h3 {
		line-height: 1;
		margin: 0;
	}
	.home-main-feature h4 {
		line-height: 1;
		font-size: 6rem;
		white-space: nowrap;
	}
	.home-main-feature h5 {
		line-height: 1;
	}
	.home-feature-content {
		margin-top: 100px; 
	}
	.home-feature-content p {
		margin-bottom: 8px;
	}
	.home-feature-content {
		position: relative;
	}
	.home-feature-content {
		margin-bottom: 15em;
	}
	
	/**animation prefixes **/
	
	.home-feature-content:after {
		content: "";
		width: 100%;
		height: 8px;
		background-color: #54d700;
		display: block;
		position: absolute;
		top: 14.4em;
		animation: bottombar 1.5s ease-out;
	}
	.home-feature-content:before {
		content: "";
		width: 100%;
		height: 50px;
		top: .7em;
		background: url('images/caption-header-line.png') no-repeat center top;
		display: block;
		position: absolute;
		animation: topbar 1.5s ease-out;
	}
	
	@keyframes bottombar {
		from { left: -100px; opacity: 0; }
		to { left: 0px; opacity: 1; }
	}
	@keyframes topbar {
		from { left: 100px; opacity: 0; }
		to { left: 0px; opacity: 1; }
	}
	@keyframes headline {
		from { top: 165px; opacity: 0; }
		to { top: 65px; opacity: 1; }
	}
	
	.home-feature-text {
		opacity: 0;
		top: 165px;
		position: absolute;
		animation: headline 1.5s forwards;
		animation-delay: .5s;
	}
}

.featured-speaker img, .home-featured-post figure img, .front-widgets-3 .widget_sp_image img, .speaker-photo img {
	transition: filter 1s ease;
	-webkit-transition: -webkit-filter 1s ease;
}

div.archive-description {
	padding: 0;
	margin: 0;
	padding-bottom: 4rem;
	padding-bottom: 40px;
	margin-bottom: 4rem;
	margin-bottom: 40px;
	border-bottom: 2px solid #54d700;
}