/**
 * CSS Styles specific to the edUi schedule
 */
.session > a, 
.session > a:hover, 
.session > a:focus {
	border: 3px solid #fff;
	display: block;
	text-decoration: none;
	padding: 1rem;
	padding: 10px;
	margin: 0;
}

.jefferson-theater > a, 
.jefferson-theater > a:hover, 
.jefferson-theater > a:focus {
	border-color: #54d700;
}

.cityspace > a, 
.cityspace > a:hover, 
.cityspace > a:focus {
	border-color: #9cf552;
}

.old-metropolitan > a, 
.old-metropolitan > a:hover, 
.old-metropolitan > a:focus {
	border-color: #9cf552;
}

.livearts-gibson > a, 
.livearts-gibson > a:focus, 
.livearts-gibson > a:hover {
	border-color: #ff8a00;
}

.livearts-founders > a, 
.livearts-founders > a:hover, 
.livearts-founders > a:focus {
	border-color: #3a9a0f;
}

.livearts-rehearsal-a > a, 
.livearts-rehearsal-a > a:hover, 
.livearts-rehearsal-a > a:focus {
	border-color: #9cf552;
}

.various > a, 
.various > a:hover, 
.various > a:focus {
	border-color: #000;
}

.session {
	margin: 1rem;
}

.js-enabled .session {
	margin: 0 1rem;
	margin: 0 10px;
}

.js-enabled .session.conference-wide {
	margin: 1rem;
}

.session p {
	margin-bottom: 0;
	padding-bottom: .5rem;
	padding-bottom: 5px;
}

.session h3 {
	display: none;
}

.conference-wide {
	text-align: center;
}

.presentation h2, 
.expert-panel h2, 
.mini-workshop h2, 
.workshop h2, 
.public-square h2 {
	font-size: 1.6rem;
	font-size: 16px;
}

.session-date {
	font-size: 1.4rem;
	font-weight: 700;
}

.session-location {
	font-size: 1.4rem;
	font-style: italic;
}

.schedule-block {
	margin-bottom: 2rem;
}

.block-header {
	text-align: center;
}

.time-block-header {
	display: none;
}

.schedule-day {
	margin-bottom: 2rem;
	border: 3px solid #cdddc2;
}

strong.session-type {
	display: block;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

.schedule-day h1 {
	padding: 2rem;
	margin-bottom: 0;
}

span.session-speakers-header, 
ul.session-speakers {
	font-size: 1.3rem;
}

ul.session-speakers {
	list-style: none;
	display: inline;
}

ul.session-speakers li {
	list-style: none;
	display: inline-block;
}

ul.session-speakers li:after {
	content: ", ";
	display: inline;
}

ul.session-speakers li:nth-last-child(2):after {
	content: " \26 ";
}

ul.session-speakers li:last-child:after {
	content: "";
}

.day-header a {
	text-decoration: none;
	color: #333;
	border: none;
}

.day-header a:hover, 
.day-header a:focus {
	text-decoration: none;
	border: none;
	color: #333;
}

@media all and (max-width: 800px) {
	.hide-from-mobile {
		display: none;
	}

	.time-block-header {
		background: #000;
		color: #fff;
		display: block;
		text-align: center;
		margin-bottom: 1rem;
	}

	.js-enabled .session {
		margin-bottom: 1rem;
	}
	
	.session h3 {
		display: block;
	}
	
	.session h2 {
		display: none;
	}
	
	.schedule-day h1 {
		text-align: center;
	}
}

.schedule-nav {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
}

.schedule-nav a {
	display: inline-block;
	width: 50%;
	padding: 1rem;
	margin: 0;
	color: #fff;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	border: none;
	text-decoration: none;
}

.schedule-nav.has-now a {
	width: 33%;
}

.schedule-nav a:hover, 
.schedule-nav a:focus {
	background: #fff;
	color: #000;
	border: none;
	text-decoration: none;
}